/* Base styles for the HTML element */
html {
    height: 100%; /* Full viewport height */
    width: 100%;  /* Full viewport width */
    background: linear-gradient(to right, #FF7E5F, #FFB47F); /* Peach sunset gradient */
    color: #fff; /* White color for text */
    text-align: center;
    margin: 0; /* Remove default margin */
    font-family: Georgia, serif; /* Set a base font-family */
}

/* Styles for all heading 1 elements */
h1 {
    font-size: 2.5rem; /* Responsive font size */
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2; /* Improve readability */
    color: #fff; /* Ensure color consistency */
    margin: 0; /* Remove default margin */
}

/* Styles for all images */
img {
    width: 50vw; /* 50% of viewport width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 25px; 
